<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/dashbord.css">
    <title>Trainers</title>
</head>

<body>

    <%- include('../../partials/_adminNavbar.ejs') %>
        <div class="container">
            <div class="headers">
                <h1 class="titleDash"> Trainers list </h1>
            </div>

            <div class="container mt-5">
                <h1>Edit Trainer</h1>
                <form action="/trainers/<%= trainer._id %>?_method=PUT" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name"
                                    value="<%= trainer.name %>" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" id="age" name="age" value="<%= trainer.age %>"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="specialization">Specialization</label>
                                <input type="text" class="form-control" id="specialization" name="specialization"
                                    value="<%= trainer.specialization %>" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="experience">Experience (years)</label>
                                <input type="number" class="form-control" id="experience" name="experience"
                                    value="<%= trainer.experience %>" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    value="<%= trainer.email %>" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" name="phone"
                                    value="<%= trainer.phone %>" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="salary">Salary</label>
                                <input type="number" class="form-control" id="salary" name="salary"
                                    value="<%= trainer.salary %>" required>
                            </div>
                            <div class="form-group">
                                <label for="salary">Picture</label>
                                <input type="text" class="form-control" id="Picture" name="Picture"
                                    value="<%= trainer.Picture %>" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning mt-3">Update Trainer</button>
                </form>
                <form action="/controlPanel/<%= trainer._id %>/editTrainer?_method=DELETE" method="POST" class="mt-3">
                    <button type="submit" class="btn btn-danger mt-1">Delete Package</button>
                  </form>
            </div>





        </div>



</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</html>